body {
    background: #f8f9fa;
    color: #333;
}

.navbar {
    background-color: #2c3e50;
}

.site-header .navbar-nav .nav-link {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
    color: #d1d1d1;
}

.api-section {
    background: #ffffff;
    border-bottom: 2px solid #e9ecef;
    padding: 20px 0;
    margin-bottom: 20px;
    min-height: 140px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.api-box {
    text-align: center;
    border-right: 1px solid #ddd;
}

.api-box:last-child {
    border-right: none;
}

.api-value {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
}

.job-card {

    border: 1px solid #e1e1e1;
}

.job-card:hover {
    box-shadow: 0 4px 8px rgb(27, 40, 106);
}

.user-img-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.sidebar {
    margin-top: 58px
}